// Color system
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #7084CD !default;
$indigo:  #8A70CE !default;
$purple:  #B266CA !default;
$pink:    #CF64C2 !default;
$red:     #F2576F !default;
$orange:  #FFA57C !default;
$yellow:  #FFCE7C !default;
$green:   #CBF577 !default;
$teal:    #41B784 !default;
$cyan:    #64AEC7 !default;

$primary:       $purple !default;
$secondary:     $gray-600 !default;
$success:       $teal !default;
$info:          $indigo !default;
$warning:       $pink !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-800 !default;


// Fonts
$font-family-sans-serif:      sans-serif !default;
$font-family-serif:           "Roboto Slab", serif !default;
$font-family-base:            $font-family-serif !default;
$font-size-base:              1.2rem !default;

$font-weight-light:           300 !default;
$font-weight-normal:          300 !default;
$font-weight-bold:            700 !default;


// Body
$body-color:                $gray-900 !default;