// wpadminbar
html.wordpress {
	margin-top: 0!important;
	#wpadminbar {
		top: auto;
		bottom: 0;
		position: fixed!important;
	}
}



.custom-logo-header {
	svg,
	img {
		height: 1.8em;
		max-height: 1.8em;
		.logo-01 {
			fill: $pink;
		}
		.logo-02 {
			fill: $purple;
		}
	}
}

.custom-window-height {
	min-height: 100vh;
}


.custom-home-main {
	position: relative;
	overflow: hidden;
}
.custom-home-bg {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity:.25;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.custom-home-main:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: .5em;
	background: rgba(0,0,0,.1);
}
.custom-home-main [class*=col-] {
	position: relative;
}
.custom-home-main .cover-image {
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}




// plyr
body {
	.plyr--audio .plyr__controls button.tab-focus:focus,
	.plyr--audio .plyr__controls button:hover,
	.plyr__play-large,
	.plyr--video .plyr__controls button.tab-focus:focus,
	.plyr--video .plyr__controls button:hover {
		background: $primary;
	}
	.plyr__progress--played,
	.plyr__volume--display {
		color: $primary;
	}
}