.screen-reader-response {
	display: none;
}
.wpcf7-not-valid {
	border-color: $danger;
}
.wpcf7-not-valid-tip {
	color: $danger;
}
.wpcf7-response-output {
	@extend .alert;
}
.wpcf7-validation-errors {
	@extend .alert-danger;
}
.wpcf7-mail-sent-ng {
	@extend .alert-warning;
}
.wpcf7-mail-sent-ok {
	@extend .alert-success;
}